# History files
.Rhistory
.DS_Store

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
powerpoints
/WWW/.DS_Store
/WWW/code_files/.DS_Store
/WWW/section_files/.DS_Store
